<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="github" value="https://nuget.pkg.github.com/stsw133/index.json"/>
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="stsw133"/>
			<add key="ClearTextPassword" value="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"/>
		</github>
	</packageSourceCredentials>
</configuration>